<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
        <title>{{child.title:noEdit}}</title>
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
	</head>
	<body>
        <a id="top" name="top"></a>
        {{header.html}}
	<div class="wrapper">
        <div class="page">
            <div class="body">
                <div class="bread_bg"></div>
                <div class="breadcrumbs">

                </div>

                {{child}}
            </div>
		</div>
	</body>
</div> <!-- wrapper -->
{{footer.html}}
</body>
</html>
