<div id="footer">
	<div class="fwrap">
		<div class="swirls"></div>

		<div class="col_bg about"></div>
		<div class="col_bg friends"></div>
		<div class="col_bg last"></div>

		<div class="col about">
			<div class="title">About</div>
			<p>AndrewRay.me is a website for my creative projects. I like to make things to fight the ever looming threat of death and secure a place in history. And I certainly like showing what I make to other people. You get the idea.</p>
			<p><a href="/about">Learn More</a></p>

		</div>
		<div class="col friends">
			<div class="title">Friends</div>
			<ul>
				<li><a href="http://thinkskinc.com/"><span>SKINC</span> Sam and Katy Incorporated</a></li>
				<li><a href="http://digitaltumbleweed.com/"><span>Digital Tumbleweed</span> Nick's Tech Blog</a></li>

				<li><a href="http://revz.in/"><span>Revzin</span> Sergei Revzin's Blog</a></li>
				<li><a href="http://www.economicfarce.com//"><span>Economic Fanfare</span> Will's Economic Blog</a></li>
				<li><a href="http://sausagefunnel.com/"><span>SausageFunnel</span> Kitchen Products</a></li>
				<li><a href="http://impulse-game.com/"><span>Impulse</span> Game Website</a></li>

				<li><a href="http://github.com/"><span>Github</span> GitHub</li>
				<li><a href="http://mootools.net/"><span>MooTools</span> JavaScript Framework</a></li>
			</ul>
		</div>
		<div class="col last">
			<div class="title">Inspiration</div>

			<ul>
				<li><a href="http://www.smashingmagazine.com/">Smashing Magazine</a></li>
				<li><a href="http://davidwalsh.name/">David Walsh MooTools Blog</a></li>
				<li><a href="http://www.viget.com/inspire/">Viget Inspire</a></li>
				<li><a href="http://kuler.adobe.com/">Adobe Kuler</a></li>
				<li><a href="http://envato.com/">Envato Network</a></li>

			</ul>
		</div>
		<div class="copyright">
			&copy; Andrew Ray 2005-2011		</div>
	</div>
	<div class="btm"></div>
</div>
<a id="toTop" href="#top" style="opacity:0">top of page</a>
