<div style="padding:10px; background:#eee;">
    {% if async test(3, 2) %}
        Hi
    {% endif %}
</div>

<div class="main">
    Main div here.
    <div class="intro">Welcome message: {{welcome_msg}}</div>

    {% block body %}
        <i>I should show up, I'm from index.html</i>
    {% endblock %}

    <table>
    {% for key, val in ponies %}
        <tr>
            <td><i>{{ loop.index }}</i> | </td>
            <td>
                {% for poop, shape in val %}
                {{loop.index}}<b class="{{loop.last}}">{{ poop }}</b> is {{ shape }}<br />
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>

    <hr />
    <hr />
</div>

{% include 'test.html' %}
